.container {
  padding: 5rem 7rem;

  @include respond(lg) {
    padding: 5rem 5rem;
  }

  @include respond(mdl) {
    padding: 5rem 4rem;
  }

  @include respond(mds) {
    padding: 5rem 3rem;
  }

  @include respond(sm) {
    padding: 5rem 3rem;
  }

  @include respond(xs) {
    padding: 5rem 2rem;
  }

  &.small {
    padding: 3rem 1rem 2rem;

    @include respond(md) {
      padding: 3rem 2rem 2rem;
    }

    @include respond(mds) {
      padding: 3rem 1.5rem 2rem;
    }
  }

  &.none {
    padding: 0;
  }


  &.medium{
    padding: 0rem 3rem 0rem;
  }
}
