// dashboard-layout.scss

:root {
  --sidebar-width: 300px;
  --header-height: 8rem;

  @include respond(mds) {
    --sidebar-width: 80%;
  }
}

// html,
// body {
//   background: var(--background);
//   color: var(--foreground);
// }

// button {
//   border: none;
//   background: transparent;
//   // cursor: pointer;
//   color: inherit;
//   font: inherit;
// }

.dashboard {
  min-height: 100vh;
  background: var(--background);
  cursor: pointer;
  display: flex;
}

/* =========================
   OVERLAY
========================= */

.dashboard__overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  z-index: 90;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}

/* =========================
   SIDEBAR
========================= */

.dashboard__sidebar {
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);

  height: 100vh;

  background: var(--white-smoke);
  border-right: 1px solid var(--border);

  padding: 3rem 1.5rem 4rem;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  z-index: 100;

  transition: transform 0.35s ease;

  @media (max-width: 1024px) {
    position: fixed;
    left: 0;
    top: 0;

    transform: translateX(-100%);
  }

  &--open {
    @media (max-width: 1024px) {
      transform: translateX(0%);
    }
  }
}

.dashboard__sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.dashboard__logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.dashboard__close {
  width: 42px;
  height: 42px;

  border-radius: 50%;

  background: var(--color-accent);
  color: var(--background);
  display: none;
  place-items: center;

  @media (max-width: 1024px) {
    display: grid;
  }
}

.dashboard__nav {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: auto;

  a {
    padding: 2rem;
    // border-radius: 14px;

    color: var(--foreground);

    transition:
      background 0.25s ease,
      color 0.25s ease;
    position: relative;
    z-index: 0;

    &::before {
      content: "";
      height: 0;
      width: 100%;
      background: var(--color-accent);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &:hover::before {
      height: 100%;
      transition: height 0.25s ease;
    }

    &:hover {
      // background: var(--color-accent);
      color: var(--background);
    }
  }
}

/* =========================
   MAIN
========================= */

.dashboard__main {
  flex: 1;

  min-width: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

/* =========================
   HEADER
========================= */

.dashboard__header {
  height: var(--header-height);

  padding: 0 2rem;

  background: var(--white-smoke);

  backdrop-filter: blur(12px);

  position: sticky;
  top: 0;

  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(md) {
    padding: 0 1rem;
    border-bottom: 1px solid var(--grey);
  }
}

.dashboard__header-left,
.dashboard__header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard__menu {
  width: 5rem;
  height: 5rem;

  border-radius: 50%;

  background: var(--darker-grey);
  color: var(--background);

  display: none;
  place-items: center;

  font-size: 1.2rem;

  @media (max-width: 1024px) {
    display: grid;
  }
}

.dashboard__avatar {
  width: 5rem;
  height: 5rem;

  border-radius: 50%;

  background: var(--light-grey);
}

/* =========================
   CONTENT
========================= */

.dashboard__content {
  flex: 1;
  padding: 4rem 3rem;

  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  background: var(--light-grey);

  overflow-x: hidden;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}
