.case-study-ml {

  .img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;

    @include respond (md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond (mds) {
      grid-template-columns: 1fr;
    }

    .img-box {
      position: relative;
      aspect-ratio: 16/9;

      img {
        object-fit: cover;
      }
    }
  }
}
