.project-meta {
  // display: flex;
  // align-items: flex-start;
  // justify-content: space-between;
  // gap: 3rem;
  max-width: 90rem;
  margin: auto;
  padding: 3rem 0;

  @include respond(mds) {
    flex-direction: column;
    gap: 2rem;
  }

  &__overview {
    flex: 1;
    // max-width: 40rem;
    padding: 1rem 2rem;
    text-align: center;

    @include respond (mds) {
      padding: 1rem;
    }

    h2 {
      margin: 1rem 0 1.5rem;
      // font-size: clamp(3rem, 3vw, 5rem);
      line-height: 1;
      letter-spacing: -0.06em;
      text-transform: none;
    }

    p {
      margin: 0;
      max-width: 52rem;
      color: var(--foreground-light);
      font-size: var(--base-size);
      line-height: 1.8;
    }
  }

  &__eyebrow {
    display: inline-block;
    color: var(--darker-grey);
    font-size: 1.2rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }

  &__details {
    flex: 1.2;
    // display: grid;
    //  border-left: 0.5px solid var(--foreground-light);
  }

  &__item {
    // padding-bottom: 1.8rem;
    border-bottom: 0.5px solid var(--foreground-light);
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    justify-content: space-between;

    @include respond(mds) {
      padding: 2rem 1rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }

  &__label {
    color: var(--grey);
    font-size: 1.2rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    // background-color: var(--foreground);
    // padding: 0.5rem 1rem;
  }

  &__value {
    color: var(--foreground-light);
    font-size: var(--base-size);
    line-height: 1.6;
    text-transform: capitalize;
    text-align: right;

    @include respond (mds) {
      text-align: left;
    }
  }
}

.project-meta-group {
  // display: flex;
  // justify-content: center;
  text-align: center;
  padding: 3rem;
  font-size: var(--base-size);
  border-right: 1px solid var(--foreground);
  border-bottom: 1px solid var(--foreground);

  .project-meta-question {
    color: var(--darker-grey);
    font-weight: 300;
  }
  .project-meta-answer {
    color: var(--foreground-light);
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 0.5rem;
  }
}
