.about-section {
  h5 {
    width: 55%;

    @include respond(lg) {
      width: 65%;
    }

    @include respond(mdl) {
      width: 70%;
    }

    @include respond(mds) {
      width: 100%;
    }
  }

  a {
    margin-top: 2rem;
  }
}
