.btn {
  &-dashboard-primary {
    background: var(--foreground);
    color: var(--background);
    padding: 1.5rem 2rem;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &.small {
      padding: 1rem 1.5rem;
      font-size: 1.5rem;
    }

    &:hover {
      filter: brightness(0.9);
      color: var(--background);
      transform: scale(0.98);
    }

    svg {
      font-size: 1.6rem;
      font-weight: 500;
    }

    &.rounded {
      border-radius: 1.2rem;
    }
  }

  &-dashboard-tertiary {
    background: transparent;
    color: var(--foreground);
    padding: 1.5rem 2rem;
    border: 1px solid var(--foreground);
    transition: all 0.7s ease-in-out;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &.small {
      padding: 1rem 1.5rem;
      font-size: 1.5rem;
    }
  }

  &-dashboard-secondary {
    // padding: 0.5rem;
    background: transparent;
    color: var(--foreground);
    font-size: 1.5rem;
    transition: all 0.7s ease-in-out;
    border: none;
    outline: none;
    text-align: center;

    svg {
      height: 1.5em;
      width: 1.5em;
    }

    &:hover {
      color: var(--grey);
      font-weight: 600;
      transform: scale(1.05);
    }
  }

  &-primary {
  }
  &-secondary {
    font-size: var(--base-size);
    padding: 2rem;
    width: 100%;
    background: var(--background);
    color: var(--foreground);
    position: relative;
    z-index: 0;
    transition: all 0.2s ease-in-out 0.4s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      background-color: var(--color-accent);
      transition: all 0.7s ease-in-out;
      z-index: -1;
    }

    &:hover {
      color: var(--background);

      &::before {
        height: 100%;
      }
    }
  }
  &-tertiary {
    color: var(--grey);
    background-color: transparent;
    padding: 1rem 0.5rem;
    transition: all 0.7s ease-in-out;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 0;
      background-color: var(--grey);
      transition: all 0.7s ease-in-out;
    }

    &:hover {
      gap: 1.5rem;
      font-weight: 600;

      &::before {
        width: 100%;
      }
    }
  }
}

.products-table-row-buttons {
  display: flex;
  gap: 1rem;
  justify-self: center;
  align-items: center;
}
