.about-hero {
  h1 {
    font-size: calc(((var(--base-size) * 1.25) * 1.25) * 1.25);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 7rem;
    // text-align: center;

    @include respond(mds) {
      font-size: 2.1rem;
    }
  }

  p {
    font-weight: 400;
    color: var(--darker-grey);
    width: 70%;
    margin: auto;
    line-height: 1.7;
    margin-bottom: 5rem;
    text-align: center;

    @include respond(md) {
      width: 75%;
    }

    @include respond(mds) {
      width: 100%;
      text-align: left;
    }
  }
}

.about-img-box {
  //   position: relative;
  //   width: 100%;
  //   margin: auto;
  // aspect-ratio: 16/9;
  // max-height: 800px;

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 1200px;
    // object-position: top;
  }
}


