.page-start {
  padding: 15rem 7rem 12rem;

  &.works-hero {
    h1 {
      margin-bottom: 4rem;
    }
  }

  &.small {
    padding: 15rem 7rem 7rem;

    @include respond(lg) {
      padding: 15rem 5rem 12rem;
    }

    @include respond(mdl) {
      padding: 15rem 4rem 12rem;
    }

    @include respond(mds) {
      padding: 16rem 3rem 10rem;
    }

    @include respond(sm) {
      padding: 16rem 3rem 10rem;
    }

    @include respond(xs) {
      padding: 16rem 2rem 10rem;
    }
  }
}
