.page-start {
  padding: 15rem 7rem 12rem;

  &.works-hero {
    h1 {
      margin-bottom: 4rem;
    }
  }

  @include respond(lg) {
    padding: 15rem 5rem;
  }

  @include respond(mdl) {
    padding: 15rem 4rem;
  }

  @include respond(mds) {
    padding: 16rem 3rem 14rem;
  }

  @include respond(sm) {
    padding: 16rem 3rem 14rem;
  }

  @include respond(xs) {
    padding: 16rem 2rem 14rem;
  }
}
